@charset "UTF-8";

html, body, h1, h2, h3, h4, table, th, td, tr,
header, main, footer, aside, nav, section,p{
	padding: 0px;
	margin: 0px;
}

article, aside, nav, main, header, footer, section{
	display: block;
}

body{
	width: auto;
	margin-left: auto;
	margin-right: auto;
	font-family: helvetica,arial,sans-serif;
	font-size: 15px;
}

nav{
	display: inline-block;
	margin-top: 1px;
}

nav li{
	display: inline;
	margin-right: 10px;
	font-size: 18px;
	font-variant: uppercase;
}

li a{
	color: white;
	text-decoration: none;
}

header{
	background-color: rgb(212,122,115);
	padding: 5px;
	color: white;
	vertical-align: text-bottom;
}

caption{
	padding-left:15px;
	padding-top: 15px;
}

footer{
	clear: both;
}

.footerList{
	display: inline;
	margin-right: 10px;
	font-size: 12px;
}
li{
	margin-right: 15px;
	display: inline;
}
#lastChange{
	float:right;
}

.resultSet{
	color: rgb(71,115,161);
	background-color: rgb(221,230,206);
	margin-bottom: 10%;
}

.resultSet .link{
	color:rgb(212,122,115);
}

table{
	margin-left: auto;
	margin-right: auto;
	border-spacing: 15px;
}

th{
	text-align: left;
	border-style: none none solid none;
	font-size: 18px;
	font-weight: normal;
}

td{
	text-align: left;
	border-style: none none solid none;
	padding:10px;
	font-size:; 16px;
	font-weight: lighter;
}

.tableAction{
	display: inline;

}

.tableAction input[value="Change"]{
	margin-left:40%;
}

.contact-section{
	margin-top: 15%;
	margin-bottom: 15%;
	margin-left: 5%;
	display:inline-block;
	vertical-align: middle;
}

.maps{
	margin-left: 25%;
	vertical-align: middle;
	display: inline-block;
}

.link {
	text-decoration: none;
	color: rgb(71,115,161);
}

.company_Logo{
	padding: 5px;
	display: inline-block;
}

.logoLink{
	text-decoration: none;
	color: white;
}

.compassSection{
	background-color: rgb(71,115,161);
	padding-top: 150px;
	padding-bottom: 150px;
}
.compass{
	vertical-align: middle;
	display:inline-block;
	margin-left: 10%;
	width:20%;
	height: auto;
}

.compassText{
	vertical-align: middle;
	font-weight: lighter;
	display:inline-block;
	font-size:28px;
	margin-left:20%;
	color:white;
}

.quickSection{
	background-color: rgb(212,122,115);
	padding-top: 150px;
	padding-bottom: 150px;
}
.quick{
	vertical-align: middle;
	display:inline-block;
	margin-left: 20%;
	width:20%;
	height: auto;
}

.quickText{
	vertical-align: middle;
	font-weight: lighter;
	display:inline-block;
	font-size:28px;
	margin-left:10%;
	color:white;
}

.search{
	padding:300px;
	background-image: url("media/images/searchStock.jpeg");
	background-size: 100% auto;
	text-align: center;
}

.search input[type="text"]{
	width: 50%;
	font-size:22px;
	margin-top:2.5%;
	color:grey;
	text-align: center;
}

input[type="text"]{
	font-size: 18px;
  	transition: box-shadow 0.3s;
}

input[type="text"]:focus,
input[type="text"].focus {
  box-shadow: 0 0 3px 1px #969696;
}

.searchCity{
	font-size: 32px;
	font-weight: bold;
	padding: 50px;
	text-align: center;
}

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 34px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
	background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
	background-color:#e9e9e9;
}
.myButton:active {
	position:relative;
	top:1px;
}

.inputForm{
	background-image: url("media/images/formBack.jpg");
	background-size: 100%;
	padding:220px;
}

.formElements{
	margin-left: 70%;
	font-size: 20px;
	width:40%;
}