@charset "UTF-8";

html, body, h1, h2, h3, h4, table, th, td, tr,
header, main, footer, aside, nav, section{
	padding: 0px;
	margin: 0px;
}

article, aside, nav, main, header, footer, section{
	display: block;
}

body{
	width: auto;
	margin-left: auto;
	margin-right: auto;
	font-family: helvetica,arial,sans-serif;
	font-size: 15px;
}

nav{
	display: inline-block;
	margin-top: 1px;
}

li a{
	color: white;
	text-decoration: none;
}

nav li{
	display: inline;
	margin-right: 10px;
	font-size: 18px;
	font-variant: uppercase;
}

header{
	background-color: rgb(212,122,115);
	padding: 5px;
	color: white;
	vertical-align: text-bottom;
}

caption{
	padding-left:15px;
	padding-top: 15px;
}

footer{
	clear: both;
	text-align: left;
	background-color: rgb(212,122,115);
	padding: 5px;
	color: white;
}

table{
	border-spacing: 15px;
}

th{
	text-align: left;
	border-style: none none solid none;
}

td{
	text-align: left;
	border-style: none none solid none;
}

.contact-section{
	margin-top: 15%;
	margin-bottom: 15%;
	width: 32,5%;
	float: left;
}

.maps{
	width: 67,5%;
	float: right;
}

.link {
	text-decoration: none;
	color: black;
}

.company_Logo{
	padding: 5px;
	display: inline-block;
}

.logoLink{
	text-decoration: none;
	color: white;
}