@charset "UTF-8";

html, body, h1, h2, h3, h4, table, th, td, tr,
header, main, footer, aside, nav, section,p{
	padding: 0px;
	margin: 0px;
}

article, aside, nav, main, header, footer, section{
	display: block;
}

body{
	width: auto;
	margin-left: auto;
	margin-right: auto;
	font-family: helvetica,arial,sans-serif;
	font-size: 15px;
}

nav{
	display: inline-block;
	margin-top: 1px;
}

nav li{
	display: inline;
	margin-right: 10px;
	font-size: 18px;
	font-variant: uppercase;
}

li a{
	color: white;
	text-decoration: none;
}

header{
	background-color: rgb(212,122,115);
	padding: 5px;
	color: white;
	vertical-align: text-bottom;
}

caption{
	padding-left:15px;
	padding-top: 15px;
}

footer{
	clear: both;
}

.footerList{
	display: inline;
	margin-right: 10px;
	font-size: 12px;
}
li{
	margin-right: 15px;
	display: inline;
}
#lastChange{
	float:right;
}

table{
	margin-left: auto;
	margin-right: auto;
	border-spacing: 15px;
}

th{
	text-align: left;
	border-style: none none solid none;
	font-size: 18px;
	font-weight: normal;
}

td{
	text-align: left;
	border-style: none none solid none;
	padding:10px;
	font-size:; 16px;
	font-weight: lighter;
}

.resultSet{
	color: rgb(71,115,161);
	background-color: rgb(221,230,206);
}

.resultSet .link{
	color:rgb(212,122,115);
}

.contact-section{
	margin-top: 15%;
	margin-bottom: 15%;
	width: 32,5%;
	float: left;
}

.maps{
	width: 67,5%;
	float: right;
}

.link {
	text-decoration: none;
	color: rgb(71,115,161);
}

.company_Logo{
	padding: 5px;
	display: inline-block;
}

.logoLink{
	text-decoration: none;
	color: white;
}

.compass img{
	height:auto;
	float:left;
	background-color: rgb(71,115,161)
}
.compass p{
	font-size: 28px;
	float:right;
}

.search{
	padding:300px;
	background-image: url("/media/images/searchStock.jpeg");
	background-size: 100% 100%;
	text-align: center;
}

.search p{
	color: rgb(71,115,161);
	font-size: 28px;
	margin-bottom: 3px;
}

.search input{
	background-color: rgb(71,115,161);
	color:white;
}

input[type="text"]{
	font-size: 18px;
  	transition: box-shadow 0.3s;
}

input[type="text"]:focus,
input[type="text"].focus {
  box-shadow: 0 0 3px 1px #969696;
}

.searchCity{
	font-size: 32px;
	font-weight: bold;
	padding: 50px;
	text-align: center;
}